
    <div class="footer">
      <p>Made with <i class="bi bi-heart"></i> by Sajal</p>
      <div class="social-links">
        <span><a href="https://ca.linkedin.com/in/sajal-santhosh"><i class="bi bi-linkedin" style="font-size: 1.4rem; color: white;"></i></a></span>
        <span><a href="https://github.com/SajalSanthosh"><i class="bi bi-github" style="font-size: 1.4rem; color: white;"></i></a></span>
      </div>
    </div>