
    <div class="footer">
      <p>Made with <i class="bi bi-heart"></i> by Sajal</p>
      <div class="social-links">
        <span><a href="https://www.linkedin.com/in/bradleyengelhardt"><i class="bi bi-linkedin" style="font-size: 1.4rem; color: white;"></i></a></span>
        <span><a href="https://github.com/SquishyAndroid"><i class="bi bi-github" style="font-size: 1.4rem; color: white;"></i></i></a></span>
      </div>
    </div>