<section id="contact">
  <div class="contact-container">
    <h1>{{title}}</h1>
    <h2>Contact me <i class="bi bi-at"></i> SajalSanthosh81@gmail.com</h2>
    <p>Or find me on:</p>
    <div class="row">
      <ul class="center">
        <a href="https://github.com/SajalSanthosh">
          <li><i class="bi bi-linkedin" style="font-size: 1.4rem; color: white;"></i> LinkedIn</li>
        </a>
        <a href="https://ca.linkedin.com/in/sajal-santhosh">
          <li><i class="bi bi-github" style="font-size: 1.4rem; color: white;"></i> Github</li>
        </a>
        </a>


      </ul>
    </div>
  </div>
</section>