<html>
  {{> header }}

  <body>
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/projects">Projects</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    {{> footer}}

  </body>

</html>