<section id="projects">
  <div class="projects-container">
    <h2>Check out some of the projects that I did</h2>
    <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>


    <div class="container">
      <div class="row">
        <div class="col">
          1 of 2
        </div>
        <div class="col">
          2 of 2
        </div>
      </div>
      <div class="row">
        <div class="col">
          1 of 3
        </div>
        <div class="col">
          2 of 3
        </div>
        <div class="col">
          3 of 3
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <div class="back" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://camo.githubusercontent.com/552cab99efaf597e553f930979322ff633b7d66de60ec7743f2e4b519f804932/68747470733a2f2f692e696d6775722e636f6d2f4a46396b5041672e706e67');">
          <h2>Fitness Center Management</h2>
          <p>This is a software written C# designed to manage and keep track of user data in a fitness center. All the UIs are done in windows form manually</p>
          <a href="https://github.com/SajalSanthosh/FitnessCenterManagement">Github</a>
        </div>
      </div>

      <div class="card">
        <div class="back" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://camo.githubusercontent.com/9b1b58074c6714789b7d607cc9f49fd8781b20785cafd58eb2007ea0bb46a778/68747470733a2f2f692e696d6775722e636f6d2f507041374368612e706e67');">
          <h2>BTC Price History Analyzer</h2>
          <p>This is an application developed to visualize the market change of Bitcoin over the past 10 years. </p>
          <a href="https://github.com/SajalSanthosh/BTC-Price-History-Analyzer">Github</a>

        </div>
      </div>

      <div class="card">
        <div class="back" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://camo.githubusercontent.com/d56877503ba2d88e60d0d5cf08aa5899749a0e0f52e58d9ca0af7be95a6effbe/68747470733a2f2f692e696d6775722e636f6d2f656a59697a41612e706e67');">
          <h2>Crypto Monitor</h2>
          <p>An application created in Java to monitor and keep up to date on the Crypto Currency market. Uses free API provided by coingecko.com</p>
          <a href="https://github.com/SajalSanthosh/CryptoMonitor">Github</a>
        </div>
      </div>

    </div>


</section>